{% extends 'base.html' %}
{% block content %}

<div style="display:flex;justify-content:center;margin-top:60px;">

<div style="
    width:480px;
    padding:25px 30px;
    background:#e6d8bf;
    border-radius:12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.08);
">
<h2 class="form-title">Reset Password</h2>

<p style="color:#666;margin-bottom:20px;">
Enter your registered email.  
We will send an OTP to reset your password.
</p>

<form method="POST">
{% csrf_token %}

<input type="email" name="email"
       placeholder="Enter your registered email"
       required>

<br><br>

<button type="submit" class="register-btn">
    Send OTP
</button>

</form>

</div>

{% endblock %}