{% extends 'base.html' %}
{% block content %}

<div class="home-box">

<h2 class="form-title">Forgot Password</h2>

<p style="text-align:center;color:#666;">
Enter your registered email and we’ll send you a password reset link.
</p>

<form method="POST">
{% csrf_token %}

<input type="email"
       name="email"
       placeholder="Enter your registered email"
       required>

<br><br>

<button type="submit" class="register-btn">
    Send Reset Link
</button>

</form>

</div>

{% endblock %}