{% extends 'base.html' %}
{% block content %}
<div class="home-box">

<h2 style="font-size: 40px;">University Level</h2>

<div class="button-row">
    <a href="/add-grievance/university/">
        <button>Add New Grievance</button>
    </a>

    <a href="/status/university/">
        <button>View My Grievance Status</button>
    </a>
</div>

<div class="button-row">
    <a href="{% url 'vote_university' %}">
        <button>Vote on Grievances</button>
    </a>

    <a href="/resolved/university/">
        <button>Resolved Grievances</button>
    </a>
</div>

</div>
{% endblock %}